@import './base.css';


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
